<div class="header_menu">
<nav class="header">
    <div class="logo">     
        <a class="adalab_link" href="http://www.adalab.es"><img src="assets/images/logo-adalab.png" alt="Go to Adalab main page" class="logo_adalab"></a>
    </div>
    <ul class="menu">    
        <li class="blog link">
            <a class="menu_link" href="https://medium.com/adalab">blog</a>
        </li>
        <li class="contact link">
            <a class="menu_link" href="https://adalab.es/contacto/">contacto</a>
        </li>
    </ul>
</nav>
</div>