.main_content {
    margin-top: 112px;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../images/david-van-dijk-255503-unsplash.jpg);
    background-size: cover;
    background-position: 67%;
    padding-left: 20px;
    @media all and (min-width: 768px) {
        background-position: 60%;
        padding-left: 30px;
        margin-top: 100px;
    }
    @media all and (min-width: 1024px) {
        padding-left: 30px;
        min-width: 924px;
        background-position: 74%;
    }
}
.title {
    @include title();
    color: $color-white;
    text-transform: uppercase;
    width: 161px;
    @media all and (min-width: 768px) {
        font-size: 60px;
        width: 322px;
    }

}
