$color-primary: #1daa9f;
$color-secundary: #32decf;
$color-light: #c5c5c5;
$color-medium: #676a6d;
$color-dark: #252525;
$color-black: #000000;
$color-text: #4a4a4a;
$color-white: white;
$color-button: #24aca2;